Repository uclouvain/osis-admission: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, diff-quality

copyright:
  name: Check that copyright is in source code
  args:
  - --multiline
  - --negate
  entry: 2015\-2024
  language: pygrep

diff-quality:
  name: pycodestyle
  language: system
  entry: diff-quality --violations=pycodestyle --compare-branch=origin/dev --fail-under=100 --options="--ignore=E501"
  pass_filenames: false

Fix document viewer for EPC documents
  templates/admission/document/document_epc_detail.html
  templatetags/admission.py
  views/common/detail_tabs/document.py
Due: copyright, diff-quality

OS-1795 : nouveau montant droti inscription
  ddd/admission/doctorat/preparation/domain/model/enums/checklist.py
  ddd/admission/doctorat/preparation/test/factory/proposition.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/test/factory/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0288_alter_doctorateadmission_tuition_fees_amount_and_more.py
  tests/views/doctorate/checklist/sic_decision/test_approval_final.py
  tests/views/doctorate/checklist/sic_decision/test_pdf.py
  tests/views/general_education/checklist/sic_decision/test_approval_final.py
  tests/views/general_education/checklist/sic_decision/test_pdf.py
Due: copyright, diff-quality

OS-1795 : change text
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0286_alter_doctorateadmission_tuition_fees_amount_and_more.py
  templates/admission/exports/sic_approval_certificate.html
Due: copyright, diff-quality

OS-1750 use determined_academic_year
  views/general_education/details/checklist.py
Due: copyright, diff-quality

OS-1795 : fix translation
  locale/fr_BE/LC_MESSAGES/django.po
Due: none

Fix migrations
  migrations/0288_merge_20260317_1716.py
Due: diff-quality

OS-1750 replicate for checklist iufc/doctorat + pin current viewed application
  templates/admission/general_education/includes/checklist/parcours.html
  views/continuing_education/details/checklist.py
  views/doctorate/details/checklist/base.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Fix OS-1769: Réinscription B-O : (2.4) Choix de formation (élément de checklist & onglet dupliqué) : Formations "actives pour réinscription" sur fond orange dans le select
  ddd/admission/shared_kernel/dtos/formation.py
  infrastructure/admission/doctorat/preparation/domain/service/doctorat.py
  infrastructure/admission/formation_continue/domain/service/formation.py
  infrastructure/admission/formation_continue/domain/service/in_memory/formation.py
  infrastructure/admission/formation_continue/repository/proposition.py
  infrastructure/admission/formation_generale/domain/service/formation.py
  infrastructure/admission/formation_generale/domain/service/in_memory/formation.py
  infrastructure/admission/formation_generale/repository/proposition.py
  templates/admission/general_education/includes/checklist/choix_formation_form.html
  tests/commands/continuing_education/test_get_proposition_dto.py
  tests/commands/general_education/test_get_proposition_dto_for_gestionnaire.py
  views/autocomplete/general_education.py
Due: copyright, diff-quality

Financabilite
  migrations/0288_alter_doctorateadmission_financability_computed_rule_situation_and_more.py
Due: diff-quality

Fix migrations
  migrations/0288_merge_20260317_1716.py
  migrations/0289_alter_doctorateadmission_financability_computed_rule_situation_and_more.py
Due: diff-quality

Use file extension for document_epc_component
  constants.py
  templatetags/admission.py
Due: copyright, diff-quality

Fix OS-1799: Admission doctorat signatures par pdf ne fonctionne pas qd on redonne la main au candidat
  auth/roles/program_manager.py
Due: copyright, diff-quality

OSIS-10894 : block deletion on some condition
  ddd/admission/shared_kernel/domain/service/verifier_curriculum.py
  exports/admission_recap/section.py
  views/common/detail_tabs/curriculum.py
  views/common/form_tabs/curriculum.py
Due: copyright, diff-quality

Financabilite : new changes
  models/doctorate.py
  models/general_education.py
  views/common/detail_tabs/debug.py
Due: copyright, diff-quality

OS-1772 : pdf changes
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_96_HUE_NON_PROGRESSION.html
  templates/admission/exports/includes/sic_refusal/REFUS_BAC_HUE_ACADEMIQUE.html
Due: copyright

OS-1772 : remove <
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_96_HUE_NON_PROGRESSION.html
Due: copyright

Change document_epc_component log to a warning
  templatetags/admission.py
Due: copyright, diff-quality

OS-1779 : remove 'pas'
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_96_HUE_NON_PROGRESSION.html
Due: copyright

Fix tests
  api/serializers/project.py
  tests/commands/continuing_education/test_get_proposition_dto.py
  tests/commands/general_education/test_get_proposition_dto_for_gestionnaire.py
  tests/exports/test_admission_recap.py
  tests/views/autocomplete/test_general_education.py
Due: copyright, diff-quality

[OS-1736] Re-enrolment > listing > add api endpoints to retrieve the information about the re-enrolment
  api/schema.py
  api/serializers/__init__.py
  api/serializers/candidate_ucl_enrolments.py
  api/serializers/person.py
  api/serializers/project.py
  api/url_v1.py
  api/views/__init__.py
  api/views/candidate_ucl_enrolments.py
  ddd/admission/formation_generale/test/use_case/write/test_initier_proposition_service.py
  ddd/admission/formation_generale/use_case/write/initier_proposition_service.py
  ddd/admission/shared_kernel/commands.py
  ddd/admission/shared_kernel/domain/service/i_annee_inscription_formation.py
  ddd/admission/shared_kernel/domain/service/i_inscriptions_ucl_candidat.py
  ddd/admission/shared_kernel/dtos/inscription_ucl_candidat.py
  ddd/admission/shared_kernel/use_case/read/__init__.py
  ddd/admission/shared_kernel/use_case/read/candidat_est_delibere_service.py
  ddd/admission/shared_kernel/use_case/read/candidat_est_inscrit_recemment_ucl_service.py
  ddd/admission/shared_kernel/use_case/read/recuperer_inscriptions_candidat_service.py
  ddd/admission/shared_kernel/use_case/read/recuperer_periode_reinscription_service.py
  infrastructure/admission/handlers.py
  infrastructure/admission/handlers_in_memory.py
  infrastructure/admission/shared_kernel/domain/service/annee_inscription_formation.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/annee_inscription_formation.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/inscriptions_ucl_candidat.py
  infrastructure/admission/shared_kernel/domain/service/inscriptions_ucl_candidat.py
  schema.yml
  tests/api/views/test_candidate_ucl_enrolment.py
  tests/api/views/test_person.py
  tests/api/views/test_training_choice.py
Due: copyright, diff-quality

Fix OS-1806: Back-office: Elements de la checklist > N'afficher aucun document par défaut
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/general_education/checklist.html
Due: copyright

Fix OS-1806: Back-office: Elements de la checklist > N'afficher aucun document par défaut IUFC et doctorat
  templates/admission/continuing_education/checklist.html
  templates/admission/doctorate/checklist.html
Due: copyright

Update requirements
  requirements.txt
  tests/auth/predicates/test_common.py
Due: copyright, diff-quality

Add temporary log to debug epc documents
  templatetags/admission.py
  views/common/detail_tabs/document.py
Due: copyright, diff-quality

Add temporary error log to debug epc documents
  templatetags/admission.py
  views/common/detail_tabs/document.py
Due: copyright, diff-quality

OS-1750 WIP
  ddd/admission/shared_kernel/dtos/titre_acces_selectionnable.py
  templatetags/admission.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Fix document epc detail view
  templatetags/admission.py
  views/common/detail_tabs/document.py
Due: copyright, diff-quality

Add description in EPC documents list
  templates/admission/document/epc_documents.html
Due: copyright

Path conditions:
  copyright: any of: \.(py|html)$, but not: ^(migrations/\w+|.*__init__).py
  diff-quality: any of: \.py$
