Repository uclouvain/osis-admission: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, diff-quality

copyright:
  name: Check that copyright is in source code
  args:
  - --multiline
  - --negate
  entry: 2015\-2024
  language: pygrep

diff-quality:
  name: pycodestyle
  language: system
  entry: diff-quality --violations=pycodestyle --compare-branch=origin/dev --fail-under=100 --options="--ignore=E501"
  pass_filenames: false

[OS-1718] WIP
  api/serializers/secondary_studies.py
  ddd/admission/doctorat/preparation/domain/model/proposition.py
  ddd/admission/doctorat/preparation/domain/model/statut_checklist.py
  ddd/admission/doctorat/preparation/domain/service/checklist.py
  ddd/admission/doctorat/preparation/domain/validator/_should_informations_checklist_etre_completees.py
  ddd/admission/doctorat/preparation/test/factory/proposition.py
  ddd/admission/doctorat/preparation/use_case/write/soumettre_proposition_service.py
  ddd/admission/formation_continue/domain/model/statut_checklist.py
  ddd/admission/formation_continue/test/factory/proposition.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  ddd/admission/formation_generale/domain/service/checklist.py
  ddd/admission/formation_generale/test/factory/proposition.py
  ddd/admission/formation_generale/use_case/write/modifier_statut_checklist_experience_parcours_anterieur_service.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
  ddd/admission/shared_kernel/domain/service/i_modifier_checklist_experience_parcours_anterieur.py
  ddd/admission/shared_kernel/utils.py
  infrastructure/admission/doctorat/preparation/repository/in_memory/proposition.py
  infrastructure/admission/formation_generale/repository/in_memory/proposition.py
  infrastructure/admission/shared_kernel/domain/service/modifier_checklist_experience_parcours_anterieur.py
  infrastructure/admission/shared_kernel/domain/service/profil_candidat.py
  infrastructure/admission/shared_kernel/domain/service/titres_acces.py
  infrastructure/admission/shared_kernel/repository/titre_acces_selectionnable.py
  migrations/0283_extract_experience_checklists.py
  migrations/utils/extract_experience_checklists.py
  templates/admission/general_education/includes/checklist/previous_experience_single.html
  templates/admission/general_education/includes/checklist/previous_experiences.html
  tests/factories/continuing_education.py
  tests/factories/doctorate.py
  tests/factories/general_education.py
  views/common/detail_tabs/exam.py
  views/common/form_tabs/curriculum.py
  views/common/mixins.py
  views/doctorate/details/checklist/base.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1705] Confirmation > add a new condition for the general education admissions
  ddd/admission/shared_kernel/domain/service/i_elements_confirmation.py
  ddd/admission/shared_kernel/tests/domain/service/test_elements_confirmation.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  tests/api/views/test_submission.py
Due: copyright, diff-quality

[OS-1705] Confirmation > add a new condition for the doctorate education admissions
  ddd/admission/shared_kernel/domain/service/i_elements_confirmation.py
  ddd/admission/shared_kernel/tests/domain/service/test_elements_confirmation.py
  tests/api/views/test_project.py
Due: copyright, diff-quality

[OS-1689] Checklist > personal data > add a new state and add editing permissions to the program managers
  auth/predicates/common.py
  auth/predicates/doctorate.py
  auth/predicates/general.py
  auth/roles/central_manager.py
  auth/roles/program_manager.py
  ddd/admission/doctorat/preparation/domain/model/enums/projet.py
  ddd/admission/doctorat/preparation/domain/model/statut_checklist.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/general_education/includes/checklist/personal_data.html
  templatetags/admission.py
  tests/views/common/form_tabs/test_coordonnees.py
  tests/views/common/form_tabs/test_person.py
  tests/views/doctorate/checklist/test_personal_data.py
  tests/views/general_education/checklist/test_personal_data.py
  views/common/form_tabs/coordonnees.py
  views/common/form_tabs/person.py
  views/doctorate/details/checklist/personal_data.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Modification du menu
  templates/admission/menu.html
Due: copyright

[OS-1693] IUFC > checklist > add the personal data tab
  auth/roles/central_manager.py
  auth/roles/program_manager.py
  ddd/admission/doctorat/preparation/domain/model/statut_checklist.py
  ddd/admission/formation_continue/domain/model/enums.py
  ddd/admission/formation_continue/domain/model/proposition.py
  ddd/admission/formation_continue/domain/model/statut_checklist.py
  ddd/admission/formation_continue/domain/service/checklist.py
  ddd/admission/formation_continue/domain/validator/_should_informations_checklist_etre_completees.py
  ddd/admission/formation_continue/domain/validator/exceptions.py
  ddd/admission/formation_continue/domain/validator/validator_by_business_actions.py
  ddd/admission/formation_continue/test/factory/proposition.py
  ddd/admission/formation_continue/test/use_case/write/test_soumettre_proposition_service.py
  ddd/admission/formation_continue/test/use_case/write/test_valider_proposition_service.py
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  migrations/0283_initialize_iufc_personal_data_checklist.py
  migrations/utils/initialize_iufc_admissions_personal_data_checklist.py
  templates/admission/continuing_education/checklist.html
  templates/admission/continuing_education/checklist_menu.html
  templates/admission/continuing_education/includes/checklist/decision.html
  templates/admission/continuing_education/includes/checklist/decision_statuses.html
  templates/admission/general_education/includes/checklist/personal_data.html
  tests/factories/continuing_education.py
  tests/migrations/test_initialize_iufc_admissions_personal_data_checklist.py
  tests/views/common/form_tabs/test_coordonnees.py
  tests/views/common/form_tabs/test_person.py
  tests/views/continuing_education/checklist/test_decision.py
  tests/views/continuing_education/checklist/test_personal_data.py
  tests/views/continuing_education/test_list.py
  views/continuing_education/details/checklist/base.py
  views/continuing_education/details/checklist/decision.py
  views/continuing_education/details/checklist/personal_data.py
Due: copyright, diff-quality

OS-1673 : search by title
  tests/views/autocomplete/test_learning_unit_years.py
  views/autocomplete/learning_unit_years.py
Due: copyright, diff-quality

[OS-1719] CDD decision > add a translation in english for the certificate
  infrastructure/admission/doctorat/preparation/domain/service/pdf_generation.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/exports/cdd_approval_certificate_admission.html
  views/doctorate/details/checklist/cdd_decision.py
Due: copyright, diff-quality

OSIS-10709: Update api version
  schema.yml
Due: none

Update requirements
  requirements.txt
Due: none

[OS-1741] Doctorate > invite supervision members who are already invited to refresh the related data
  ddd/admission/doctorat/preparation/domain/model/groupe_de_supervision.py
  ddd/admission/doctorat/preparation/domain/validator/__init__.py
  ddd/admission/doctorat/preparation/domain/validator/_should_signataire_a_pas_deja_approuve.py
  ddd/admission/doctorat/preparation/domain/validator/exceptions.py
  ddd/admission/doctorat/preparation/domain/validator/validator_by_business_action.py
  ddd/admission/doctorat/preparation/test/factory/groupe_de_supervision.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_demander_signatures_service.py
  infrastructure/admission/doctorat/preparation/repository/groupe_de_supervision.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  tests/api/views/test_signatures.py
Due: copyright, diff-quality

[OS-1739] Add the language to the supervision members dtos to fix the external member form
  api/schema.py
  ddd/admission/doctorat/preparation/dtos/groupe_supervision.py
  infrastructure/admission/doctorat/preparation/domain/service/in_memory/membre_CA.py
  infrastructure/admission/doctorat/preparation/domain/service/in_memory/promoteur.py
  infrastructure/admission/doctorat/preparation/domain/service/membre_CA.py
  infrastructure/admission/doctorat/preparation/domain/service/promoteur.py
  infrastructure/admission/doctorat/preparation/repository/groupe_de_supervision.py
  infrastructure/admission/doctorat/preparation/repository/in_memory/groupe_de_supervision.py
  schema.yml
Due: copyright, diff-quality

OSIS-10644 : Financabilite Versionning : Strategy pattern
  .pre-commit-config.yaml
  ddd/admission/doctorat/preparation/domain/service/verifier_proposition.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_soumettre_proposition_service.py
  ddd/admission/doctorat/preparation/use_case/read/verifier_proposition_service.py
  ddd/admission/doctorat/preparation/use_case/write/soumettre_proposition_service.py
  ddd/admission/formation_generale/test/use_case/write/test_soumettre_proposition_service.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
  ddd/admission/shared_kernel/tests/domain/service/test_elements_confirmation.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  tests/api/views/test_project.py
  tests/api/views/test_submission.py
  tests/views/doctorate/checklist/test_checklist.py
  tests/views/doctorate/checklist/test_financability.py
  tests/views/general_education/checklist/test_checklist.py
  tests/views/general_education/checklist/test_financability.py
Due: copyright, diff-quality

OSIS-10648 : Refactor versionning
  ddd/admission/doctorat/preparation/use_case/write/soumettre_proposition_service.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
Due: copyright, diff-quality

[OS-1595] Access titles > remove the duplicate use cases (general)
  ddd/admission/formation_generale/commands.py
  ddd/admission/formation_generale/test/use_case/read/test_recuperer_titres_acces_selectionnables_proposition.py
  ddd/admission/formation_generale/test/use_case/write/test_specifier_experience_en_tant_que_titre_acces.py
  ddd/admission/formation_generale/use_case/read/__init__.py
  ddd/admission/formation_generale/use_case/read/recuperer_titres_acces_selectionnables_proposition_service.py
  ddd/admission/formation_generale/use_case/write/__init__.py
  ddd/admission/formation_generale/use_case/write/specifier_experience_en_tant_que_titre_acces_service.py
  ddd/admission/shared_kernel/domain/builder/titre_acces_selectionnable_builder.py
  ddd/admission/shared_kernel/tests/use_case/write/test_specifier_experience_en_tant_que_titre_acces.py
  ddd/admission/shared_kernel/use_case/read/recuperer_titres_acces_selectionnables_proposition_service.py
  ddd/admission/shared_kernel/use_case/write/specifier_experience_en_tant_que_titre_acces_service.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/handlers_in_memory.py
  migrations/0218_auto_20240828_1051.py
  migrations/0227_auto_20241024_0937.py
  templates/admission/general_education/list.html
  tests/commands/general_education/test_get_access_titles.py
  tests/views/common/form_tabs/curriculum/educational_experience_update/test_general.py
  tests/views/common/form_tabs/curriculum/test_educational_experience_delete.py
  tests/views/common/form_tabs/curriculum/test_educational_experience_duplicate.py
  tests/views/common/form_tabs/curriculum/test_educational_experience_valuate.py
  tests/views/common/form_tabs/curriculum/test_non_educational_experience_delete.py
  tests/views/common/form_tabs/curriculum/test_non_educational_experience_duplicate.py
  tests/views/common/form_tabs/curriculum/test_non_educational_experience_update.py
  tests/views/common/form_tabs/curriculum/test_non_educational_experience_valuate.py
  tests/views/common/form_tabs/test_education.py
  views/common/mixins.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1595] Access titles > allow to select the first cycle exam without certificate
  infrastructure/admission/shared_kernel/repository/titre_acces_selectionnable.py
  tests/commands/general_education/test_get_access_titles.py
  tests/views/general_education/checklist/test_faculty_decision.py
Due: copyright, diff-quality

[OS-1595] Past experiences > restrict the access title selection
  ddd/admission/formation_generale/test/use_case/write/test_specifier_experience_en_tant_que_titre_acces.py
  ddd/admission/formation_generale/use_case/write/specifier_experience_en_tant_que_titre_acces_service.py
  ddd/admission/shared_kernel/domain/model/enums/condition_acces.py
  ddd/admission/shared_kernel/domain/validator/__init__.py
  ddd/admission/shared_kernel/domain/validator/_should_verifier_titres_acces_selectionnes.py
  ddd/admission/shared_kernel/domain/validator/exceptions.py
  ddd/admission/shared_kernel/domain/validator/validator_by_business_action.py
  ddd/admission/shared_kernel/tests/use_case/write/test_specifier_experience_en_tant_que_titre_acces.py
  ddd/admission/shared_kernel/use_case/write/specifier_experience_en_tant_que_titre_acces_service.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/handlers.py
  infrastructure/admission/handlers_in_memory.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  tests/views/doctorate/checklist/test_past_experiences.py
  tests/views/general_education/checklist/test_past_experiences.py
  views/doctorate/details/checklist/past_experiences.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Fix OS-1460: [V1.C.2] Back-office : Nouvelle gestion liée aux fraudeurs > Pastille d'en-tête, Données perso (dont nouvel état "Avis expert"), Décision SIC
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  ddd/admission/formation_generale/dtos/proposition.py
  infrastructure/admission/formation_generale/repository/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/continuing_education/checklist.html
  templates/admission/continuing_education/checklist_menu.html
  templates/admission/details/includes/checklist/fraud_ares_status.html
  templates/admission/doctorate/checklist.html
  templates/admission/general_education/checklist.html
  templates/admission/general_education/includes/checklist/personal_data.html
  templates/admission/general_education/includes/checklist/sic_decision.html
  templates/admission/general_education/includes/checklist/sic_decision_approval_final_form.html
  templates/admission/general_education/includes/checklist/sic_decision_approval_panel.html
  templates/admission/general_education/tab_layout.html
  views/common/detail_tabs/checklist.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1744] Doctorate > some trainings do not require the proximity commission
  ddd/admission/doctorat/preparation/domain/validator/_should_commission_proximite_etre_valide.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_initier_proposition_service.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_modifier_choix_formation_par_gestionnaire_service.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_modifier_type_admission_service.py
  forms/admission/doctorate/checklist.py
  forms/admission/training_choice.py
  templates/admission/forms/training_choice.html
  tests/views/common/form_tabs/training_choice/test_doctorate.py
  tests/views/doctorate/checklist/test_choix_formation.py
Due: copyright, diff-quality

[OS-1748] IUFC > do not take the iufc specific field used before to filter the trainings
  api/views/autocomplete.py
  tests/api/views/autocomplete/test_training.py
Due: copyright, diff-quality

wip
  auth/roles/limited_enrolment_delegate.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/service/i_pdf_generation.py
  ddd/admission/formation_generale/domain/validator/_should_refus_non_financable_avoir_une_regle.py
  ddd/admission/formation_generale/domain/validator/exceptions.py
  ddd/admission/formation_generale/domain/validator/validator_by_business_actions.py
  ddd/admission/formation_generale/dtos/proposition.py
  ddd/admission/formation_generale/use_case/read/recuperer_pdf_temporaire_decision_sic_service.py
  ddd/admission/formation_generale/use_case/write/approuver_admission_par_sic_service.py
  ddd/admission/formation_generale/use_case/write/refuser_admission_par_sic_service.py
  ddd/admission/formation_generale/use_case/write/refuser_inscription_par_sic_service.py
  ddd/admission/formation_generale/use_case/write/specifier_motifs_refus_proposition_par_sic_service.py
  ddd/admission/shared_kernel/enums/emplacement_document.py
  exports/admission_recap/attachments.py
  infrastructure/admission/formation_generale/domain/service/in_memory/pdf_generation.py
  infrastructure/admission/formation_generale/domain/service/notification.py
  infrastructure/admission/formation_generale/domain/service/pdf_generation.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/formation_generale/repository/in_memory/proposition.py
  infrastructure/admission/formation_generale/repository/proposition.py
  migrations/0283_generaleducationadmission_non_resident_notified_at_and_more.py
  models/general_education.py
  models/working_list.py
  templates/admission/details/comments.html
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_95_CONTINGENTES_NR_DOSSIER_INCOMPLET.html
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_95_CONTINGENTES_NR_EXCLUSION.html
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_95_CONTINGENTES_NR_NON_FINANCABLE.html
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_95_CONTINGENTES_NR_TITRE_D_ACCES.html
  templates/admission/general_education/checklist.html
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1752] Confirmation > update two sentences in the email
  infrastructure/admission/formation_generale/domain/service/notification.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  mail_templates/submission.py
Due: copyright, diff-quality

[OS-1755] Doctorate > cdd decision > update and add the translation of the approval certificate for the pre-admission
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/exports/cdd_approval_certificate_pre_admission.html
Due: copyright

OSIS-10648 : Financabilite V2 2026
  migrations/0284_alter_doctorateadmission_financability_computed_rule_situation_and_more.py
Due: diff-quality

OSIS-10577 : Adapt enums
  migrations/0284_alter_doctorateadmission_admission_requirement_and_more.py
Due: diff-quality

[OS-1759] Doctorate > Supervision > committee members must be employees
  api/views/autocomplete.py
  infrastructure/admission/doctorat/preparation/domain/service/membre_CA.py
  infrastructure/admission/doctorat/preparation/domain/service/promoteur.py
  tests/api/views/autocomplete/test_person.py
  tests/api/views/test_supervision.py
  tests/views/doctorate/forms/test_supervision.py
  views/autocomplete/persons.py
Due: copyright, diff-quality

[OS-1729] Checklist > personal data > trigger the DonneesPersonnellesCandidatValidee event with the cleaned status
  tests/views/continuing_education/checklist/test_personal_data.py
  tests/views/doctorate/checklist/test_personal_data.py
  tests/views/general_education/checklist/test_personal_data.py
  views/common/detail_tabs/checklist.py
Due: copyright, diff-quality

Path conditions:
  copyright: any of: \.(py|html)$, but not: ^(migrations/\w+|.*__init__).py
  diff-quality: any of: \.py$
