Repository uclouvain/osis-admission: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, diff-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [ '--skip-string-normalization', '--line-length',  '120', '-t', 'py311' ]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: copyright
        name: Check that copyright is in source code
        types: [file]
        files: \.(py|html)$
        args: [ --multiline, --negate ]
        exclude: '^(migrations/\w+|.*__init__).py'
        entry: '2015\-2024'
        language: pygrep

      - id: diff-quality
        name: pycodestyle
        language: system
        entry: diff-quality --violations=pycodestyle --compare-branch=origin/dev --fail-under=100 --options="--ignore=E501"
        types: [ python ]
        pass_filenames: false

#      - id: diff-quality
#        name: pylint
#        language: system
#        entry: diff-quality --violations=pylint --compare-branch=origin/dev --fail-under=90
#        types: [ python ]
#        pass_filenames: false

      - id: messages
        name: messages
        language: system
        entry: bash -c '../manage.py makemessages -a && ../manage.py compilemessages --locale fr_BE'
        always_run: true
        pass_filenames: false


      - id: check_app_messages
        name: Check messages
        language: system
        entry: bash -c '(cd .. && ./manage.py check_app_messages parcours_doctoral)'
        always_run: true
        pass_filenames: false

wip
  migrations/0275_generaleducationadmission_non_resident_file_and_more.py
Due: diff-quality

wip
  api/serializers/pool_questions.py
  api/views/pool_questions.py
  models/general_education.py
Due: copyright, diff-quality

Fix access titles for exam
  infrastructure/admission/shared_kernel/repository/titre_acces_selectionnable.py
  tests/commands/general_education/test_get_access_titles.py
Due: copyright, diff-quality

[OS-1592] Checklist > past experiences > only display the equivalence form in a specific case and make it mandatory
  ddd/admission/doctorat/preparation/commands.py
  ddd/admission/doctorat/preparation/domain/model/proposition.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_specifier_equivalence_titre_acces_etranger_proposition.py
  ddd/admission/doctorat/preparation/use_case/write/__init__.py
  ddd/admission/doctorat/preparation/use_case/write/specifier_equivalence_titre_acces_etranger_proposition_service.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/validator/__init__.py
  ddd/admission/formation_generale/domain/validator/_should_informations_checklist_etre_completees.py
  ddd/admission/formation_generale/domain/validator/exceptions.py
  ddd/admission/formation_generale/domain/validator/validator_by_business_actions.py
  ddd/admission/formation_generale/test/use_case/write/test_modifier_statut_checklist_parcours_anterieur.py
  ddd/admission/formation_generale/use_case/write/modifier_statut_checklist_parcours_anterieur_service.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/doctorat/preparation/repository/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/doctorate/checklist.html
  templates/admission/general_education/checklist.html
  tests/views/doctorate/checklist/test_past_experiences.py
  tests/views/general_education/checklist/test_past_experiences.py
  views/doctorate/details/checklist/base.py
  views/doctorate/details/checklist/past_experiences.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

wip
  api/serializers/submission.py
  api/views/submission.py
  calendar/admission_calendar.py
  ddd/admission/formation_generale/domain/service/verifier_proposition.py
  ddd/admission/formation_generale/test/test_verifier_proposition.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
  ddd/admission/shared_kernel/domain/service/i_calendrier_inscription.py
  infrastructure/admission/shared_kernel/domain/service/calendrier_inscription.py
  migrations/0275_generaleducationadmission_non_resident_file_and_more.py
Due: copyright, diff-quality

Fix OS-1676: Admission doctorat - accès refusé quand le gestionnaire essaye de télécharger un brouillon du dossier dans le statut “En cours de signatures”
  auth/roles/program_manager.py
Due: copyright, diff-quality

wip
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/service/i_contingente.py
  ddd/admission/formation_generale/dtos/proposition.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
  infrastructure/admission/formation_generale/domain/service/contingente.py
  infrastructure/admission/formation_generale/domain/service/in_memory/contingente.py
  infrastructure/admission/formation_generale/domain/service/notification.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/formation_generale/repository/in_memory/proposition.py
  infrastructure/admission/formation_generale/repository/proposition.py
  models/general_education.py
Due: copyright, diff-quality

wip
  ddd/admission/formation_generale/domain/service/i_pdf_generation.py
  infrastructure/admission/formation_generale/domain/service/in_memory/pdf_generation.py
  infrastructure/admission/formation_generale/domain/service/notification.py
  infrastructure/admission/formation_generale/domain/service/pdf_generation.py
  models/general_education.py
  templates/admission/exports/contingente_inscription.html
Due: copyright, diff-quality

wip
  infrastructure/admission/formation_generale/domain/service/pdf_generation.py
  templates/admission/exports/contingente_inscription.html
Due: copyright, diff-quality

Update to django 5.2
  api/views/curriculum.py
  infrastructure/admission/shared_kernel/domain/service/profil_candidat.py
  migrations/0083_baseadmission_valuated_secondaries_studies.py
  migrations/0105_jury.py
  migrations/0117_form_item_evolutions.py
  migrations/0274_remove_baseadmission_specific_question_answers_and_more.py
  migrations/utils/remove_duplicates_candidates.py
  models/base.py
  models/doctorate.py
  models/specific_question.py
  models/visa.py
  tests/views/doctorate/checklist/test_financability.py
  views/access_conditions_url.py
  views/autocomplete/cities.py
  views/autocomplete/countries.py
  views/autocomplete/diplomatic_posts.py
  views/autocomplete/doctorate_trainings.py
  views/autocomplete/document.py
  views/autocomplete/entities.py
  views/autocomplete/general_education.py
  views/autocomplete/persons.py
  views/autocomplete/scholarship.py
  views/autocomplete/trainings.py
  views/common/detail_tabs/history.py
  views/common/mixins.py
  views/excel_exports.py
  views/lazy_image_loading.py
  views/list.py
  views/practical_information_url.py
Due: copyright, diff-quality

Update to django 5.2
  migrations/0275_alter_doctorateadmission_prerequisite_courses_and_more.py
Due: diff-quality

Fix OS-1460: [V1.C.2] Back-office : Nouvelle gestion liée aux fraudeurs > Pastille d'en-tête, Données perso (dont nouvel état "Avis expert"), Décision SIC
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  ddd/admission/formation_generale/dtos/proposition.py
  infrastructure/admission/formation_generale/repository/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/general_education/checklist.html
  templates/admission/general_education/includes/checklist/fraud_ares_status.html
  templates/admission/general_education/includes/checklist/personal_data.html
  templates/admission/general_education/includes/checklist/sic_decision.html
  templates/admission/general_education/includes/checklist/sic_decision_approval_final_form.html
  templates/admission/general_education/includes/checklist/sic_decision_approval_panel.html
  templates/admission/general_education/tab_layout.html
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Update to django 5.2
  tests/views/common/form_tabs/training_choice/test_general.py
  tests/views/doctorate/cdd/test_list.py
  tests/views/doctorate/forms/test_cotutelle.py
  views/autocomplete/persons.py
Due: copyright, diff-quality

wip
  mail_templates/contingente.py
  migrations/0275_generaleducationadmission_non_resident_file_and_more.py
  models/general_education.py
  templates/admission/exports/contingente_inscription.html
Due: copyright, diff-quality

Fix tests for Django 5
  schema.yml
  tests/views/autocomplete/test_entities.py
  tests/views/autocomplete/test_persons.py
  tests/views/common/form_tabs/training_choice/test_doctorate.py
  tests/views/doctorate/cdd/test_list.py
  tests/views/general_education/checklist/test_faculty_decision.py
  views/autocomplete/trainings.py
Due: copyright, diff-quality

[OS-1679] Doctorate > sic approval > pdf changes
  api/serializers/project.py
  ddd/admission/doctorat/preparation/dtos/doctorat_formation.py
  ddd/admission/doctorat/preparation/test/factory/doctorat.py
  infrastructure/admission/doctorat/preparation/domain/service/doctorat.py
  infrastructure/admission/doctorat/preparation/domain/service/pdf_generation.py
  infrastructure/admission/doctorat/preparation/repository/proposition.py
  infrastructure/admission/formation_generale/domain/service/pdf_generation.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/exports/sic_approval_annexe.html
  templates/admission/exports/sic_approval_certificate.html
  tests/commands/doctorate_education/test_get_proposition_dto_for_gestionnaire.py
  tests/exports/test_admission_recap.py
Due: copyright, diff-quality

Replace RequestFactory with test client
  tests/views/autocomplete/test_entities.py
  tests/views/autocomplete/test_persons.py
  views/autocomplete/persons.py
Due: copyright, diff-quality

[OS-1640] Doctorate > display the name of the cotutelle institute in the pdf
  forms/admission/doctorate/cotutelle.py
  static/admission/admission.css
  templates/admission/doctorate/details/cotutelle.html
  templates/admission/exports/recap/includes/cotutelle.html
Due: copyright, diff-quality

[OS-1668] Doctorate > links for the external supervision members > limit to 15 days instead of 7 days
  api/views/approvals.py
  tests/api/views/test_approvals.py
Due: copyright, diff-quality

[OS-1647] Doctorate > list > fix the filtering by promoter
  infrastructure/admission/doctorat/preparation/domain/service/lister_demandes.py
  tests/views/doctorate/cdd/test_list.py
Due: copyright, diff-quality

[OS-1442] Documents > allow the candidate to end the documents request if there is no requested document anymore
  api/schema.py
  api/views/documents.py
  ddd/admission/doctorat/preparation/commands.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/doctorat/preparation/use_case/write/__init__.py
  ddd/admission/doctorat/preparation/use_case/write/redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/formation_continue/commands.py
  ddd/admission/formation_continue/test/use_case/write/test_redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/formation_continue/use_case/write/__init__.py
  ddd/admission/formation_continue/use_case/write/redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/formation_generale/commands.py
  ddd/admission/formation_generale/test/use_case/write/test_redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/formation_generale/use_case/write/__init__.py
  ddd/admission/formation_generale/use_case/write/redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/shared_kernel/domain/service/i_historique.py
  ddd/admission/shared_kernel/domain/validator/__init__.py
  ddd/admission/shared_kernel/domain/validator/_should_documents_etre_completes.py
  ddd/admission/shared_kernel/domain/validator/exceptions.py
  ddd/admission/shared_kernel/domain/validator/validator_by_business_action.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/formation_continue/handlers.py
  infrastructure/admission/formation_continue/handlers_in_memory.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/shared_kernel/domain/service/historique.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/historique.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  schema.yml
  tests/api/views/test_documents.py
Due: copyright, diff-quality

[OS-1442] Documents > fix the commands to end the document request when there is no document
  ddd/admission/doctorat/preparation/use_case/write/redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/formation_continue/use_case/write/redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  ddd/admission/formation_generale/use_case/write/redonner_main_au_gestionnaire_lors_de_la_reclamation_documents_service.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/formation_continue/handlers.py
  infrastructure/admission/formation_continue/handlers_in_memory.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
Due: copyright, diff-quality

[OS-1593] Secondary studies > foreign diploma > add a boolean question related to the DAES
  api/schema.py
  api/serializers/secondary_studies.py
  exports/admission_recap/attachments.py
  forms/admission/education.py
  infrastructure/admission/shared_kernel/domain/service/profil_candidat.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  schema.yml
  templates/admission/exports/recap/includes/education.html
  tests/exports/test_admission_recap.py
  tests/views/common/detail_tabs/test_education.py
  tests/views/common/form_tabs/test_education.py
Due: copyright, diff-quality

Fix migration
  migrations/0276_alter_doctorateadmission_tuition_fees_amount_and_more.py
Due: diff-quality

Fix migration conflict
  migrations/0276_merge_20251120_1141.py
Due: diff-quality

Fix test after rebase
  tests/views/common/form_tabs/test_education.py
Due: copyright, diff-quality

[OS-1648] Doctorate > cotutelle form and cdd approval changes
  api/schema.py
  api/serializers/cotutelle.py
  ddd/admission/doctorat/preparation/domain/validator/_should_cotutelle_etre_completee.py
  exports/admission_recap/attachments.py
  forms/admission/doctorate/cotutelle.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  mail_templates/checklist/doctorate.py
  migrations/0277_alter_doctorateadmission_cotutelle_motivation.py
  migrations/0278_doctorate_faculty_decision_emails.py
  models/doctorate.py
  schema.yml
  templates/admission/doctorate/forms/cotutelle.html
  templates/admission/exports/cdd_approval_certificate_admission.html
  templates/admission/includes/prerequisite_courses.html
  templates/admission/includes/prerequisite_courses_communication.html
  tests/exports/test_admission_recap.py
  views/doctorate/details/checklist/cdd_decision.py
Due: copyright, diff-quality

[OS-1630] Add a pool for the medicine and dentistry bachelors
  api/schema.py
  calendar/admission_calendar.py
  constants.py
  ddd/admission/shared_kernel/domain/service/i_calendrier_inscription.py
  ddd/admission/shared_kernel/tests/domain/service/test_calendrier_inscription.py
  migrations/0277_alter_baseadmission_determined_pool.py
  schema.yml
  tasks/check_academic_calendar.py
Due: copyright, diff-quality

OSIS-10673: Remove unused script tag
  templates/admission/details/comments.html
  templates/admission/details/history.html
Due: copyright

OSIS-10673: Remove <script> which are already loaded
  templates/admission/doctorate/checklist.html
  templates/admission/document/base.html
  templates/admission/general_education/checklist.html
Due: copyright

OSIS-10673: Add initialization osishistory
  templates/admission/details/history.html
Due: copyright

[OS-1698] Secondary studies > fix the form saving with answers to admission document specific questions
  views/common/form_tabs/education.py
Due: copyright, diff-quality
