Repository uclouvain/osis-admission: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, diff-quality

copyright:
  name: Check that copyright is in source code
  args:
  - --multiline
  - --negate
  entry: 2015\-2024
  language: pygrep

diff-quality:
  name: pycodestyle
  language: system
  entry: diff-quality --violations=pycodestyle --compare-branch=origin/dev --fail-under=100 --options="--ignore=E501"
  pass_filenames: false

[OS-10709] Update schema > do not create components for enums
  api/schema.py
  schema.yml
Due: copyright, diff-quality

[OS-1729] Checklist > personal data > trigger the DonneesPersonnellesCandidatValidee event with the cleaned status
  tests/views/continuing_education/checklist/test_personal_data.py
  tests/views/doctorate/checklist/test_personal_data.py
  tests/views/general_education/checklist/test_personal_data.py
  views/common/detail_tabs/checklist.py
Due: copyright, diff-quality

Fix OS-1460: [V1.C.2] Back-office : Nouvelle gestion liée aux fraudeurs > Pastille d'en-tête, Données perso (dont nouvel état "Avis expert"), Décision SIC
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  ddd/admission/formation_generale/dtos/proposition.py
  infrastructure/admission/formation_generale/repository/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/continuing_education/checklist.html
  templates/admission/continuing_education/checklist_menu.html
  templates/admission/details/includes/checklist/fraud_ares_status.html
  templates/admission/doctorate/checklist.html
  templates/admission/general_education/checklist.html
  templates/admission/general_education/includes/checklist/personal_data.html
  templates/admission/general_education/includes/checklist/sic_decision.html
  templates/admission/general_education/includes/checklist/sic_decision_approval_final_form.html
  templates/admission/general_education/includes/checklist/sic_decision_approval_panel.html
  templates/admission/general_education/tab_layout.html
  views/common/detail_tabs/checklist.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1718] Changes after first tests
  templates/admission/general_education/includes/checklist/previous_experience_single_authentication_form.html
  views/common/detail_tabs/checklist.py
  views/common/form_tabs/exam.py
Due: copyright, diff-quality

[OS-1748] IUFC > do not take the iufc specific field used before to filter the trainings
  api/views/autocomplete.py
  tests/api/views/autocomplete/test_training.py
Due: copyright, diff-quality

Fix OS-1753: Visualisation des documents qui viennent d'EPC
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/document/base_htmx.html
  templatetags/admission.py
  views/common/detail_tabs/document.py
  views/common/detail_tabs/documents.py
  views/common/mixins.py
Due: copyright, diff-quality

OSIS-10648 : Financabilite V2 2026
  migrations/0284_alter_doctorateadmission_financability_computed_rule_situation_and_more.py
Due: diff-quality

O10648 : FV2
  migrations/0285_alter_doctorateadmission_financability_computed_rule_situation_and_more.py
Due: diff-quality

Fix migrations
  migrations/0287_merge_20260304_1039.py
Due: diff-quality

Add empty file for a missing template
  templates/admission/document/epc_documents.html
Due: copyright

[OS-1366] BAMA 15 questions > updates after review
  api/serializers/person.py
  ddd/admission/formation_generale/domain/validator/_should_informations_complementaires_etre_completes.py
  ddd/admission/formation_generale/domain/validator/validator_by_business_actions.py
  ddd/admission/formation_generale/test/use_case/read/test_verifier_proposition_service.py
  ddd/admission/shared_kernel/domain/service/profil_candidat.py
  ddd/admission/shared_kernel/tests/domain/service/test_profil_candidat.py
  ddd/admission/shared_kernel/tests/factory/profil.py
  exports/admission_recap/section.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/profil_candidat.py
  infrastructure/admission/shared_kernel/domain/service/profil_candidat.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0288_generaleducationadmission_bama_15_proof_and_more.py
  schema.yml
  templates/admission/exports/recap/includes/curriculum_educational_experience.html
  tests/api/serializers/test_candidate_has_fwb_first_cycle_experience.py
  tests/api/views/test_get_identification.py
  tests/exports/test_admission_recap.py
  tests/views/common/detail_tabs/curriculum/global/test_continuing.py
  views/common/detail_tabs/specific_questions.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Add missing template files for EPC documents
  templates/admission/document/document_epc_detail.html
  templates/admission/document/epc_documents.html
Due: copyright

Remonter panel financabilite
  templates/admission/debug.html
Due: copyright

Update requirements
  requirements.txt
Due: none

Fix OS-1460: add hx-preserve to avoid recalculation of fraudster status
  templates/admission/details/includes/checklist/fraud_ares_status.html
  templates/admission/general_education/includes/checklist/personal_data.html
Due: copyright

wip
  templates/admission/general_education/includes/checklist/parcours.html
  templatetags/admission.py
Due: copyright, diff-quality

Fix OS-1781: Back-office: Ajout d'un encadré bleu à toutes les expériences du curriculum (formation, activité, secondaires, examen)
  templates/admission/general_education/checklist.html
Due: copyright

Fix OS-1753: add logs and candidate without noma
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/document/base_htmx.html
  templates/admission/document/epc_documents.html
  views/common/detail_tabs/document.py
  views/common/detail_tabs/documents.py
  views/common/mixins.py
Due: copyright, diff-quality

[OS-1736] Re-enrolment > listing > add api endpoints to retrieve the information about the re-enrolment
  api/schema.py
  api/serializers/__init__.py
  api/serializers/candidate_ucl_enrolments.py
  api/serializers/person.py
  api/serializers/project.py
  api/url_v1.py
  api/views/__init__.py
  api/views/candidate_ucl_enrolments.py
  ddd/admission/formation_generale/test/use_case/write/test_initier_proposition_service.py
  ddd/admission/formation_generale/use_case/write/initier_proposition_service.py
  ddd/admission/shared_kernel/commands.py
  ddd/admission/shared_kernel/domain/service/i_annee_inscription_formation.py
  ddd/admission/shared_kernel/domain/service/i_inscriptions_ucl_candidat.py
  ddd/admission/shared_kernel/dtos/inscription_ucl_candidat.py
  ddd/admission/shared_kernel/use_case/read/__init__.py
  ddd/admission/shared_kernel/use_case/read/candidat_est_delibere_service.py
  ddd/admission/shared_kernel/use_case/read/candidat_est_inscrit_recemment_ucl_service.py
  ddd/admission/shared_kernel/use_case/read/recuperer_inscriptions_candidat_service.py
  ddd/admission/shared_kernel/use_case/read/recuperer_periode_reinscription_service.py
  infrastructure/admission/handlers.py
  infrastructure/admission/handlers_in_memory.py
  infrastructure/admission/shared_kernel/domain/service/annee_inscription_formation.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/annee_inscription_formation.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/inscriptions_ucl_candidat.py
  infrastructure/admission/shared_kernel/domain/service/inscriptions_ucl_candidat.py
  schema.yml
  tests/api/views/test_candidate_ucl_enrolment.py
  tests/api/views/test_person.py
  tests/api/views/test_training_choice.py
Due: copyright, diff-quality

OS-1795 : nouveau montant droti inscription
  ddd/admission/doctorat/preparation/domain/model/enums/checklist.py
  ddd/admission/doctorat/preparation/test/factory/proposition.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/test/factory/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0288_alter_doctorateadmission_tuition_fees_amount_and_more.py
  tests/views/doctorate/checklist/sic_decision/test_approval_final.py
  tests/views/doctorate/checklist/sic_decision/test_pdf.py
  tests/views/general_education/checklist/sic_decision/test_approval_final.py
  tests/views/general_education/checklist/sic_decision/test_pdf.py
Due: copyright, diff-quality

OSIS-10845 : cv status into curex screen
  templates/admission/general_education/includes/checklist/previous_experience_single_authentication_form.html
  views/general_education/details/checklist.py
Due: copyright, diff-quality

OS-1750 adapt look and feel
  templates/admission/general_education/includes/checklist/parcours.html
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Fix OS-1767: Réinscription B-O : (2.2) Améliorations à la navigation entre dossiers > Liste des demandes & En-tête d'une demande & Icône d'autres visiteurs sous la checklist
  templates/admission/general_education/checklist.html
  templates/admission/general_education/tab_layout.html
  templates/admission/list/base.html
  templates/admission/list/list_all_block.html
  views/general_education/details/checklist.py
Due: copyright, diff-quality

OSIS-10880: Ajout de la permission pour accéder aux attestation pour CentralManager Admission
  auth/roles/central_manager.py
Due: copyright, diff-quality

Path conditions:
  copyright: any of: \.(py|html)$, but not: ^(migrations/\w+|.*__init__).py
  diff-quality: any of: \.py$
