Repository uclouvain/osis-admission: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, diff-quality

copyright:
  name: Check that copyright is in source code
  args:
  - --multiline
  - --negate
  entry: 2015\-2024
  language: pygrep

diff-quality:
  name: pycodestyle
  language: system
  entry: diff-quality --violations=pycodestyle --compare-branch=origin/dev --fail-under=100 --options="--ignore=E501"
  pass_filenames: false

[OS-1445] Dashboard > add the filters about the preadmission deadline and the registration
  ddd/admission/doctorat/preparation/read_view/domain/enums/tableau_bord.py
  infrastructure/admission/doctorat/preparation/read_view/repository/tableau_bord.py
  tests/models/test_functions.py
Due: copyright, diff-quality

OS-1750 WIP (various fixes)
  views/general_education/details/checklist.py
Due: copyright, diff-quality

Fix OS-1771: Réinscription B-O : (2.6) Décision SIC > Blocage 1BA-1 vs 1BA & Blocage "déjà diplômé"
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/validator/_should_etudiant_deliberations_etre_correct.py
  ddd/admission/formation_generale/domain/validator/exceptions.py
  ddd/admission/formation_generale/domain/validator/validator_by_business_actions.py
  ddd/admission/formation_generale/use_case/write/approuver_admission_par_sic_service.py
  ddd/admission/formation_generale/use_case/write/approuver_inscription_par_sic_service.py
  ddd/admission/shared_kernel/domain/deliberation.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/shared_kernel/domain/service/deliberation_translator.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/deliberation_translator.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/general_education/includes/checklist/sic_decision_approval_panel.html
Due: copyright, diff-quality

Fix OS-1823: Réinscription F-O & B-O : (2.20) Gestion de la poursuite étendue pour les contingentés (front et back)
  api/views/pool_questions.py
  ddd/admission/shared_kernel/domain/service/i_calendrier_inscription.py
Due: copyright, diff-quality

Fix OS-1768: Réinscription B-O & F-O : (2.3) Liste des demandes > Filtre avancé "Critère express" & Icône de poursuite
  admin.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/service/i_diplome_acces_belge.py
  ddd/admission/formation_generale/test/test_verifier_proposition.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
  ddd/admission/shared_kernel/commands.py
  ddd/admission/shared_kernel/domain/service/i_deliberation_translator.py
  ddd/admission/shared_kernel/domain/service/i_filtrer_toutes_demandes.py
  ddd/admission/shared_kernel/domain/service/profil_candidat.py
  ddd/admission/shared_kernel/dtos/liste.py
  ddd/admission/shared_kernel/use_case/read/lister_demandes_service.py
  forms/admission/filter.py
  infrastructure/admission/formation_generale/domain/service/diplome_acces_belge.py
  infrastructure/admission/formation_generale/domain/service/in_memory/diplome_acces_belge.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/formation_generale/repository/proposition.py
  infrastructure/admission/shared_kernel/domain/service/deliberation_translator.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/deliberation_translator.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/lister_toutes_demandes.py
  infrastructure/admission/shared_kernel/domain/service/inscriptions.py
  infrastructure/admission/shared_kernel/domain/service/lister_toutes_demandes.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0292_generaleducationadmission_is_belgian_access_diploma.py
  models/general_education.py
  templates/admission/list/list_all.html
  templates/admission/list/list_all_block.html
  tests/views/test_excel_exports.py
  tests/views/test_list.py
Due: copyright, diff-quality

Fix OS-1757: Réinscription B-O : (2.18) Parcours antérieur > Nouveaux états "Avis expert" et "Avis gestionnaire"
  ddd/admission/formation_generale/commands.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  ddd/admission/formation_generale/use_case/write/modifier_statut_checklist_parcours_anterieur_service.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0291_checklist_toilette_extra.py
  templates/admission/general_education/includes/checklist/previous_experiences.html
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1773] Re-enrolment > checklist > specificities > display the bama 15 questions and change the way to initialize the status
  ddd/admission/formation_generale/domain/service/checklist.py
  ddd/admission/formation_generale/domain/service/verifier_proposition.py
  ddd/admission/formation_generale/test/use_case/write/test_soumettre_proposition_service.py
  ddd/admission/formation_generale/use_case/read/verifier_proposition_service.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
  infrastructure/admission/formation_generale/repository/in_memory/proposition.py
  templates/admission/general_education/checklist.html
Due: copyright, diff-quality

OS-1750 WIP (fix allegement + sticky header + change button label)
  locale/fr_BE/LC_MESSAGES/django.po
Due: none

OSIS-10966 : do not show validation on creation + remove specific adm… (#3290)
  templates/admission/general_education/includes/checklist/parcours.html
Due: copyright

wip
  ddd/admission/formation_generale/use_case/write/determiner_titre_et_condition_d_acces.py
  ddd/admission/shared_kernel/domain/model/enums/condition_acces.py
  ddd/admission/shared_kernel/domain/service/conditions_d_acces.py
  infrastructure/admission/shared_kernel/domain/service/calcul_condition_acces_translator.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/calcul_condition_acces_translator.py
Due: copyright, diff-quality

[OS-1766] Re-enrolment > set a default value for the bachelor pursuit field
  api/serializers/candidate_ucl_enrolments.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/test/use_case/write/test_soumettre_proposition_service.py
  ddd/admission/formation_generale/use_case/write/soumettre_proposition_service.py
  ddd/admission/shared_kernel/domain/service/i_deliberation_translator.py
  ddd/admission/shared_kernel/domain/service/inscriptions_ucl_candidat.py
  ddd/admission/shared_kernel/dtos/inscription.py
  ddd/admission/shared_kernel/dtos/inscription_ucl_candidat.py
  ddd/admission/shared_kernel/tests/domain/service/test_inscriptions_translator.py
  ddd/admission/shared_kernel/tests/domain/service/test_inscriptions_ucl_candidat.py
  infrastructure/admission/shared_kernel/domain/service/deliberation_translator.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/deliberation_translator.py
  infrastructure/admission/shared_kernel/domain/service/inscriptions.py
Due: copyright, diff-quality

OS-1831 : mail change
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_96_HUE_NON_PROGRESSION.html
  templates/admission/exports/includes/sic_refusal/REFUS_COMPLEMENT_TARDIF.html
Due: copyright

[OS-1786] Checklist > sic decision > add the tuition fees amount fields for the enrolments
  ddd/admission/doctorat/preparation/commands.py
  ddd/admission/doctorat/preparation/domain/model/proposition.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_specifier_informations_acceptation_inscription_par_sic_service.py
  ddd/admission/doctorat/preparation/use_case/write/specifier_informations_acceptation_inscription_par_sic_service.py
  ddd/admission/formation_generale/commands.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/test/use_case/write/test_specifier_informations_acceptation_inscription_par_sic_service.py
  ddd/admission/formation_generale/use_case/write/specifier_informations_acceptation_inscription_par_sic_service.py
  forms/admission/checklist.py
  templates/admission/general_education/includes/checklist/sic_decision_approval_form.html
  templates/admission/general_education/includes/checklist/sic_decision_approval_form_for_admission.html
  tests/views/doctorate/checklist/sic_decision/test_approval.py
  tests/views/doctorate/checklist/sic_decision/test_enrolment_approval.py
  tests/views/general_education/checklist/sic_decision/test_approval.py
  tests/views/general_education/checklist/sic_decision/test_enrolment_approval.py
  views/doctorate/details/checklist/sic_decision.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

OS-1831 : mail change (#3292)
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_96_HUE_NON_PROGRESSION.html
  templates/admission/exports/includes/sic_refusal/REFUS_COMPLEMENT_TARDIF.html
Due: copyright

[OS-10709] Update schema > do not create components for enums
  schema.yml
Due: none

[OS-1786] Fix tests
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/validator/_should_etudiant_deliberations_etre_correct.py
  ddd/admission/formation_generale/domain/validator/validator_by_business_actions.py
  ddd/admission/shared_kernel/domain/service/i_deliberation_translator.py
  infrastructure/admission/shared_kernel/domain/service/deliberation_translator.py
  infrastructure/admission/shared_kernel/domain/service/in_memory/deliberation_translator.py
  tests/migrations/test_extract_personal_data_checklist.py
Due: copyright, diff-quality

[OS-1775] Checklist > training choice > change the condition to display the questions
  templates/admission/general_education/checklist.html
  tests/migrations/test_extract_personal_data_checklist.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1775] Checklist > training choice > change the condition to display the questions (#3295)
  templates/admission/general_education/checklist.html
  tests/migrations/test_extract_personal_data_checklist.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1848] Changes after the review
  api/views/pool_questions.py
  calendar/admission_calendar.py
  constants.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/dtos/proposition.py
  ddd/admission/shared_kernel/domain/model/formation.py
  ddd/admission/shared_kernel/domain/service/i_calendrier_inscription.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  tests/api/views/test_pool_questions.py
  tests/views/common/detail_tabs/test_specific_questions.py
  tests/views/common/form_tabs/test_specific_questions.py
Due: copyright, diff-quality

Path conditions:
  copyright: any of: \.(py|html)$, but not: ^(migrations/\w+|.*__init__).py
  diff-quality: any of: \.py$
