Repository uclouvain/osis-admission: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, diff-quality

copyright:
  name: Check that copyright is in source code
  args:
  - --multiline
  - --negate
  entry: 2015\-2024
  language: pygrep

diff-quality:
  name: pycodestyle
  language: system
  entry: diff-quality --violations=pycodestyle --compare-branch=origin/dev --fail-under=100 --options="--ignore=E501"
  pass_filenames: false

[OS-636] Take the doctorate pre admission into account
  auth/predicates/doctorate.py
  auth/roles/admission_reader.py
  auth/roles/ca_member.py
  auth/roles/candidate.py
  auth/roles/central_manager.py
  auth/roles/program_manager.py
  auth/roles/promoter.py
  ddd/admission/doctorat/preparation/domain/model/groupe_de_supervision.py
  ddd/admission/doctorat/preparation/domain/service/verifier_projet_doctoral.py
  ddd/admission/doctorat/preparation/domain/validator/_should_projet_etre_complet.py
  ddd/admission/doctorat/preparation/domain/validator/validator_by_business_action.py
  ddd/admission/doctorat/preparation/dtos/proposition.py
  ddd/admission/doctorat/preparation/test/use_case/read/test_verifier_projet_service.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_demander_signatures_service.py
  ddd/admission/doctorat/preparation/use_case/write/demander_signatures_service.py
  ddd/admission/test/mixins.py
  exports/admission_recap/attachments.py
  exports/admission_recap/section.py
  forms/admission/doctorate/project.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  static/admission/admission.css
  templates/admission/doctorate/forms/project.html
  templates/admission/includes/bootstrap_field_with_tooltip.html
  templatetags/admission.py
  tests/api/views/test_project.py
  tests/api/views/test_signatures.py
  tests/exports/test_admission_recap.py
  tests/views/doctorate/forms/test_project.py
  views/doctorate/forms/project.py
Due: copyright, diff-quality

[OS-664] Doctorate > create an admission based on a pre admission
  .pre-commit-config.yaml
  admin.py
  api/schema.py
  api/serializers/project.py
  api/url_v1.py
  api/views/project.py
  auth/predicates/doctorate.py
  auth/roles/candidate.py
  ddd/admission/doctorat/preparation/builder/proposition_builder.py
  ddd/admission/doctorat/preparation/commands.py
  ddd/admission/doctorat/preparation/domain/service/i_historique.py
  ddd/admission/doctorat/preparation/dtos/proposition.py
  ddd/admission/doctorat/preparation/repository/i_proposition.py
  ddd/admission/doctorat/preparation/use_case/read/lister_propositions_candidat_service.py
  ddd/admission/doctorat/preparation/use_case/write/initier_proposition_service.py
  infrastructure/admission/doctorat/preparation/builder/__init__.py
  infrastructure/admission/doctorat/preparation/builder/in_memory/__init__.py
  infrastructure/admission/doctorat/preparation/builder/in_memory/proposition_builder.py
  infrastructure/admission/doctorat/preparation/builder/proposition_builder.py
  infrastructure/admission/doctorat/preparation/domain/service/historique.py
  infrastructure/admission/doctorat/preparation/domain/service/in_memory/historique.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/doctorat/preparation/repository/in_memory/proposition.py
  infrastructure/admission/doctorat/preparation/repository/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0237_doctorateadmission_related_pre_admission.py
  models/doctorate.py
  schema.yml
  tests/api/views/test_project.py
  tests/api/views/test_signatures.py
  tests/api/views/test_training_choice.py
  tests/exports/test_admission_recap.py
Due: copyright, diff-quality

[OS-1322] Document request email > update the link to the portal
  migrations/0133_alter_document_mail_templates_3.py
Due: diff-quality

[OS-1038] Update the admission menu items
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/main_menu.html
  templates/admission/menu.html
Due: copyright

[OS-1335] Doctorate > cotutelle > fix the display of a selected institute
  forms/admission/doctorate/cotutelle.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templatetags/admission.py
Due: copyright, diff-quality

[OS-1038] Update the admission menu items and the program manager permissions for the global listing
  auth/roles/admission_reader.py
  auth/roles/program_manager.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/main_menu.html
  templates/admission/menu.html
  tests/views/doctorate/cdd/test_list.py
  tests/views/test_list.py
Due: copyright, diff-quality

Update README.md (Test)
  README.md
Due: none

[OS-1318] CDD decision > update the message displayed on the approval button when it's not possible to perform this action
  templates/admission/doctorate/includes/checklist/cdd_decision.html
Due: copyright

OS-1349: format strftime for serialization
  infrastructure/admission/repository/digit.py
Due: copyright, diff-quality

Fix OnlinePayment admin search
  admin.py
Due: copyright, diff-quality

[OS-1337] Listing > fix the reset of checkbox and radio inputs
  templates/admission/list/base.html
  views/list.py
Due: copyright, diff-quality

OnlinePayment: add error logging
  services/paiement_en_ligne.py
Due: copyright, diff-quality

[OS-1183] Fix tests
  schema.yml
  tests/api/views/test_signatures.py
Due: copyright, diff-quality

[OS-664] Do not use a builder with implementation
  admission_utils/copy_documents.py
  ddd/admission/doctorat/preparation/builder/proposition_builder.py
  ddd/admission/doctorat/preparation/domain/model/proposition.py
  ddd/admission/doctorat/preparation/repository/i_groupe_de_supervision.py
  ddd/admission/doctorat/preparation/repository/i_proposition.py
  ddd/admission/doctorat/preparation/use_case/write/initier_proposition_service.py
  infrastructure/admission/doctorat/preparation/builder/__init__.py
  infrastructure/admission/doctorat/preparation/builder/in_memory/__init__.py
  infrastructure/admission/doctorat/preparation/builder/in_memory/proposition_builder.py
  infrastructure/admission/doctorat/preparation/builder/proposition_builder.py
  infrastructure/admission/doctorat/preparation/domain/service/membre_CA.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/doctorat/preparation/repository/groupe_de_supervision.py
  infrastructure/admission/doctorat/preparation/repository/in_memory/groupe_de_supervision.py
  infrastructure/admission/doctorat/preparation/repository/in_memory/proposition.py
  infrastructure/admission/doctorat/preparation/repository/proposition.py
  models/doctorate.py
  tests/api/views/test_training_choice.py
  tests/utils/test_copy_documents.py
  utils.py
  views/common/form_tabs/curriculum.py
Due: copyright, diff-quality

[OS-1358] Sic decision > Update the tuition fees amounts
  ddd/admission/doctorat/preparation/domain/model/enums/checklist.py
  ddd/admission/doctorat/preparation/test/use_case/write/test_specifier_informations_acceptation_proposition_par_sic_service.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/test/use_case/write/test_specifier_informations_acceptation_proposition_par_sic_service.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0237_alter_admission_tuition_fees_amount.py
  tests/commands/doctorate_education/test_get_proposition_dto_for_gestionnaire.py
Due: copyright, diff-quality

Fix migration conflict (0237)
  migrations/0238_merge_20250117_1427.py
Due: diff-quality

Log mollie
  services/paiement_en_ligne.py
Due: copyright, diff-quality

[OS-443] Update the pdf archive generated on doctorate signature request
  exports/admission_archive.py
  templates/admission/exports/pdf_archive.html
  templatetags/admission.py
  tests/templatetags/test_admission.py
Due: copyright, diff-quality

Add event for formation continue
  ddd/admission/formation_continue/use_case/events.py
Due: copyright, diff-quality

Fix doctorate listing tests
  ddd/admission/doctorat/preparation/domain/validator/__init__.py
  ddd/admission/doctorat/preparation/domain/validator/validator_by_business_action.py
  tests/views/cdd/test_list.py
Due: copyright, diff-quality

[0S-1307] Fix a migration conflict after merging
  migrations/0239_merge_20250127_1311.py
Due: diff-quality

Fix mollie (checkout url > 200 char)
  migrations/0239_alter_onlinepayment_checkout_url.py
  models/online_payment.py
Due: copyright, diff-quality

Fix migration
  migrations/0240_merge_20250127_1429.py
Due: diff-quality

[OS-1326] Doctorate listing > add the dashboard indicator filter
  ddd/admission/doctorat/preparation/commands.py
  ddd/admission/doctorat/preparation/domain/service/i_lister_demandes.py
  ddd/admission/doctorat/preparation/use_case/read/lister_demandes_service.py
  forms/__init__.py
  forms/doctorate/cdd/filter.py
  infrastructure/admission/doctorat/preparation/domain/service/in_memory/lister_demandes.py
  infrastructure/admission/doctorat/preparation/domain/service/lister_demandes.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/doctorate/cdd/list.html
  tests/views/cdd/test_list.py
  tests/views/doctorate/cdd/test_list.py
  tests/views/test_excel_exports.py
  views/excel_exports.py
Due: copyright, diff-quality

[OS-1326] Remove the dependency of the parcours_doctoral app from admission
  ddd/admission/doctorat/preparation/read_view/__init__.py
  ddd/admission/doctorat/preparation/read_view/domain/__init__.py
  ddd/admission/doctorat/preparation/read_view/domain/enums/__init__.py
  ddd/admission/doctorat/preparation/read_view/domain/enums/tableau_bord.py
  ddd/admission/doctorat/preparation/read_view/domain/model/__init__.py
  ddd/admission/doctorat/preparation/read_view/domain/model/tableau_bord.py
  ddd/admission/doctorat/preparation/read_view/repository/__init__.py
  ddd/admission/doctorat/preparation/read_view/repository/i_tableau_bord.py
  forms/doctorate/cdd/filter.py
  infrastructure/admission/doctorat/preparation/domain/service/lister_demandes.py
  infrastructure/admission/doctorat/preparation/read_view/__init__.py
  infrastructure/admission/doctorat/preparation/read_view/repository/__init__.py
  infrastructure/admission/doctorat/preparation/read_view/repository/tableau_bord.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  tests/views/cdd/test_list.py
  tests/views/doctorate/cdd/test_list.py
  tests/views/test_excel_exports.py
  views/excel_exports.py
Due: copyright, diff-quality

Fix schema generation for CurriculumDetailsSerializer
  api/serializers/curriculum.py
  schema.yml
Due: copyright, diff-quality

[OS-664] Doctorate > create an admission based on a pre admission
  .pre-commit-config.yaml
  admin.py
  admission_utils/copy_documents.py
  api/schema.py
  api/serializers/project.py
  api/url_v1.py
  api/views/project.py
  auth/predicates/doctorate.py
  auth/roles/candidate.py
  ddd/admission/doctorat/preparation/builder/proposition_builder.py
  ddd/admission/doctorat/preparation/commands.py
  ddd/admission/doctorat/preparation/domain/model/proposition.py
  ddd/admission/doctorat/preparation/domain/service/i_historique.py
  ddd/admission/doctorat/preparation/dtos/proposition.py
  ddd/admission/doctorat/preparation/repository/i_groupe_de_supervision.py
  ddd/admission/doctorat/preparation/repository/i_proposition.py
  ddd/admission/doctorat/preparation/use_case/read/lister_propositions_candidat_service.py
  ddd/admission/doctorat/preparation/use_case/write/initier_proposition_service.py
  infrastructure/admission/doctorat/preparation/domain/service/historique.py
  infrastructure/admission/doctorat/preparation/domain/service/in_memory/historique.py
  infrastructure/admission/doctorat/preparation/domain/service/membre_CA.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/doctorat/preparation/repository/groupe_de_supervision.py
  infrastructure/admission/doctorat/preparation/repository/in_memory/groupe_de_supervision.py
  infrastructure/admission/doctorat/preparation/repository/in_memory/proposition.py
  infrastructure/admission/doctorat/preparation/repository/proposition.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0241_doctorateadmission_related_pre_admission.py
  models/doctorate.py
  schema.yml
  templates/admission/doctorate/tab_layout.html
  tests/api/views/test_project.py
  tests/api/views/test_signatures.py
  tests/api/views/test_training_choice.py
  tests/exports/test_admission_recap.py
  tests/utils/test_copy_documents.py
  utils.py
  views/common/form_tabs/curriculum.py
Due: copyright, diff-quality

Renomage de l'action + ajout evenement formation continue
  ddd/admission/formation_continue/events.py
  ddd/admission/formation_continue/use_case/write/soumettre_proposition_service.py
  infrastructure/admission/formation_continue/handlers.py
  infrastructure/admission/formation_continue/handlers_in_memory.py
  views/services/digit.py
Due: copyright, diff-quality

Fix dependency between apps migrations
  migrations/0238_delete_scholarship.py
Due: diff-quality

OS-1372 : Fix listing for person with roles central and program manager
  models/base.py
  tests/views/test_list.py
Due: copyright, diff-quality

Admission listing > Fix the test of the sorting according to the country of citizenship
  tests/views/test_list.py
Due: copyright, diff-quality

Path conditions:
  copyright: any of: \.(py|html)$, but not: ^(migrations/\w+|.*__init__).py
  diff-quality: any of: \.py$
