Repository uclouvain/osis-admission: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, diff-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11
        args: [ '--skip-string-normalization', '--line-length',  '120', '-t', 'py311' ]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: copyright
        name: Check that copyright is in source code
        types: [file]
        files: \.(py|html)$
        args: [ --multiline, --negate ]
        exclude: '^(migrations/\w+|.*__init__).py'
        entry: '2015\-2024'
        language: pygrep

      - id: diff-quality
        name: pycodestyle
        language: system
        entry: diff-quality --violations=pycodestyle --compare-branch=origin/dev --fail-under=100 --options="--ignore=E501"
        types: [ python ]
        pass_filenames: false

#      - id: diff-quality
#        name: pylint
#        language: system
#        entry: diff-quality --violations=pylint --compare-branch=origin/dev --fail-under=90
#        types: [ python ]
#        pass_filenames: false

      - id: messages
        name: messages
        language: system
        entry: bash -c '../manage.py makemessages -a && ../manage.py compilemessages --locale fr_BE'
        always_run: true
        pass_filenames: false


      - id: check_app_messages
        name: Check messages
        language: system
        entry: bash -c '(cd .. && ./manage.py check_app_messages parcours_doctoral)'
        always_run: true
        pass_filenames: false

[OS-1331] Fix api tests using force_login
  tests/api/views/test_training_choice.py
Due: copyright, diff-quality

[OS-1383] Improve performances > listing tab
  infrastructure/admission/domain/service/lister_toutes_demandes.py
Due: copyright, diff-quality

[OS-1383] Improve performances > comment tab
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/details/comments.html
  templates/admission/includes/comment_entry.html
  views/common/detail_tabs/comments.py
Due: copyright, diff-quality

[OS-1383] Improve performances > tabs
  infrastructure/admission/repository/titre_acces_selectionnable.py
  models/continuing_education.py
  models/doctorate.py
  models/general_education.py
Due: copyright, diff-quality

wip
  api/serializers/exam.py
  api/views/exam.py
  ddd/admission/domain/service/i_profil_candidat.py
  ddd/admission/domain/service/profil_candidat.py
  ddd/admission/dtos/examen.py
  ddd/admission/formation_generale/domain/service/verifier_proposition.py
  ddd/admission/formation_generale/domain/validator/_should_examen_etre_completees.py
  ddd/admission/formation_generale/domain/validator/exceptions.py
  ddd/admission/formation_generale/domain/validator/validator_by_business_actions.py
  infrastructure/admission/domain/service/in_memory/profil_candidat.py
  infrastructure/admission/domain/service/profil_candidat.py
  schema.yml
Due: copyright, diff-quality

wip
  templates/admission/details/exam.html
  templates/admission/exports/recap/includes/exam.html
  views/common/detail_tabs/exam.py
Due: copyright, diff-quality

[OS-1383] Improve performances > checklist tab
  auth/predicates/common.py
  models/base.py
  static/admission/admission.css
  templates/admission/continuing_education/tab_layout.html
  templates/admission/doctorate/tab_layout.html
  templates/admission/general_education/checklist.html
  templates/admission/general_education/tab_layout.html
  templates/admission/includes/candidate_id_photo.html
  templates/admission/includes/lazy_image.html
  templatetags/admission.py
  utils.py
  views/common/mixins.py
  views/doctorate/details/checklist/base.py
  views/doctorate/details/checklist/financeability.py
  views/doctorate/details/checklist/past_experiences.py
  views/doctorate/details/checklist/sic_decision.py
  views/general_education/details/checklist.py
  views/lazy_image_loading.py
Due: copyright, diff-quality

Update requirements
  requirements.txt
Due: none

Use same var on all projects
  infrastructure/admission/doctorat/preparation/domain/service/notification.py
  infrastructure/admission/formation_continue/domain/service/notification.py
  services/mollie.py
  tests/views/doctorate/checklist/test_cdd_decision.py
  tests/views/general_education/checklist/test_faculty_decision.py
  utils.py
Due: copyright, diff-quality

Change queryset to same logic as other screen
  templatetags/admission.py
Due: copyright, diff-quality

OS-1414 : iufc injection
  tasks/injecter_dossier_a_epc.py
  templates/admission/continuing_education/tab_layout.html
  views/common/mixins.py
Due: copyright, diff-quality

Fix OS-1420: IUFC : onglet finalisation, faute dans le texte
  ddd/admission/domain/service/i_elements_confirmation.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
Due: copyright, diff-quality

[OS-1346] Curriculum > the fwb credits fields are not annualized anymore
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
Due: none

Fix fa fa-warning when no error on donnees personelle
  templatetags/admission.py
Due: copyright, diff-quality

[OS-1367] Checklist > past experiences > add the access condition column
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/general_education/includes/checklist/parcours.html
Due: copyright

Fix OS-1364: [V1.B] Back-office: Décision SIC > Gestion de la nouvelle dérogation déléguée/VRAE & Renommage dérogation existante pour distinguer les deux
  ddd/admission/domain/service/i_emplacements_documents_proposition.py
  ddd/admission/enums/emplacement_document.py
  ddd/admission/formation_generale/commands.py
  ddd/admission/formation_generale/domain/model/enums.py
  ddd/admission/formation_generale/domain/model/proposition.py
  ddd/admission/formation_generale/domain/model/statut_checklist.py
  ddd/admission/formation_generale/domain/validator/exceptions.py
  ddd/admission/formation_generale/dtos/proposition.py
  ddd/admission/formation_generale/test/use_case/write/test_specifier_derogation_delegue_vrae_service.py
  ddd/admission/formation_generale/use_case/write/specifier_derogation_delegue_vrae_service.py
  forms/admission/checklist.py
  forms/translation_field.py
  infrastructure/admission/formation_generale/handlers.py
  infrastructure/admission/formation_generale/handlers_in_memory.py
  infrastructure/admission/formation_generale/repository/in_memory/proposition.py
  infrastructure/admission/formation_generale/repository/proposition.py
  infrastructure/utils.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0246_generaleducationadmission_delegate_vrae_dispensation_and_more.py
  models/general_education.py
  templates/admission/general_education/checklist.html
  templates/admission/general_education/includes/checklist/sic_decision.html
  templates/admission/general_education/includes/checklist/sic_decision_delegate_vrae_dispensation_form.html
  templates/admission/general_education/includes/checklist/sic_decision_delegate_vrae_dispensation_modal.html
  templates/admission/general_education/includes/checklist/sic_decision_statuses.html
  tests/exports/test_admission_recap.py
  tests/views/general_education/checklist/sic_decision/base.py
  tests/views/general_education/checklist/sic_decision/test_delegate_vrae_dispensation.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1385][OS-1406] Link to the english page and improve the display of the epc edit button
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/exports/sic_approval_certificate.html
  templates/admission/general_education/includes/checklist/parcours_externe_button.html
Due: copyright

[OS-1257] Fix the sending of an updated email
  templates/admission/continuing_education/checklist.html
  templates/admission/continuing_education/includes/checklist/decision_cancel_form.html
  templates/admission/continuing_education/includes/checklist/decision_deny_form.html
  templates/admission/continuing_education/includes/checklist/decision_fac_approval_form.html
  templates/admission/continuing_education/includes/checklist/decision_hold_form.html
  templates/admission/continuing_education/includes/checklist/decision_send_to_fac_form.html
  templates/admission/continuing_education/includes/checklist/decision_validation_form.html
Due: copyright

OS-1427: Change annotation to take base_student first and after person_merge_proposal
  models/base.py
Due: copyright, diff-quality

OSIS-1428: Add missing import
  services/injection_epc/injection_dossier.py
Due: copyright, diff-quality

Ajout d'une vent a la validation d'une proposition
  ddd/admission/formation_continue/events.py
  ddd/admission/formation_continue/use_case/write/valider_proposition_service.py
  infrastructure/admission/formation_continue/handlers.py
  infrastructure/admission/formation_continue/handlers_in_memory.py
Due: copyright, diff-quality

OS-1430: Correction du test
  ddd/admission/formation_continue/test/use_case/write/test_valider_proposition_service.py
Due: copyright, diff-quality

OSIS-10068: Split de l'adresse
  services/injection_epc/injection_dossier.py
Due: copyright, diff-quality

IUFC > Display the cv experiences in the pdf recap on submission
  admission_utils/valuate_experiences.py
  api/views/submission.py
  infrastructure/admission/formation_continue/domain/service/notification.py
  tests/api/views/test_submission.py
Due: copyright, diff-quality

[OS-1401] WIP
  admission_utils/copy_documents.py
  auth/roles/ca_member.py
  auth/roles/promoter.py
  ddd/admission/doctorat/preparation/builder/proposition_builder.py
  ddd/admission/doctorat/preparation/domain/model/proposition.py
  ddd/admission/doctorat/preparation/use_case/write/initier_proposition_service.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/doctorat/preparation/repository/groupe_de_supervision.py
  infrastructure/admission/doctorat/preparation/repository/proposition.py
  migrations/0246_promoter_unique_constraint_data_migration.py
  migrations/0247_promoter_unique_constraint_data_structure.py
  models/accounting.py
  models/doctorate.py
  models/mixins.py
  tests/api/views/test_training_choice.py
Due: copyright, diff-quality

[OS-1395] Fix the migration conflict
  migrations/0246_doctorateadmission_approved_by_cdd_at.py
Due: diff-quality

[OS-1432] IUFC > Display the cv experiences in the pdf recap on submission
  api/views/submission.py
  ddd/admission/formation_continue/use_case/write/soumettre_proposition_service.py
  infrastructure/admission/formation_continue/handlers.py
  infrastructure/admission/formation_continue/handlers_in_memory.py
  tests/api/views/test_submission.py
  tests/exports/test_export_pdf.py
  tests/views/general_education/checklist/sic_decision/test_approval.py
Due: copyright, diff-quality

[OS-1432] IUFC > Display the cv experiences in the pdf recap on submission
  api/views/submission.py
  ddd/admission/formation_continue/use_case/write/soumettre_proposition_service.py
  infrastructure/admission/formation_continue/handlers.py
  infrastructure/admission/formation_continue/handlers_in_memory.py
  tests/api/views/test_submission.py
  tests/exports/test_export_pdf.py
Due: copyright, diff-quality

[OS-1407] Sic decision > add a new refusal type
  ddd/admission/doctorat/preparation/domain/model/enums/checklist.py
  ddd/admission/formation_generale/domain/model/enums.py
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  migrations/0248_alter_generaleducationadmission_refusal_type.py
  models/general_education.py
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_95_SIC_CONDITIONS_PUBLIEES_MASTER.html
  templates/admission/exports/includes/sic_refusal/REFUS_ARTICLE_95_SIC_CONDITIONS_PUBLIEES_MASTER_SPECIALISATION.html
  tests/views/general_education/checklist/sic_decision/test_refusal.py
  views/general_education/details/checklist.py
Due: copyright, diff-quality

[OS-1403] Access title > an internal experience can be chosen even without diploma depending on its last year
  infrastructure/admission/repository/titre_acces_selectionnable.py
  tests/api/views/test_training_choice.py
  tests/commands/general_education/test_get_access_titles.py
Due: copyright, diff-quality

[OS-1401] Doctorate > when initialization an admission following a pre-admission, use the data of the doctorate instead of the pre-admission
  admission_utils/copy_documents.py
  auth/roles/ca_member.py
  auth/roles/promoter.py
  ddd/admission/doctorat/preparation/builder/proposition_builder.py
  ddd/admission/doctorat/preparation/domain/model/proposition.py
  ddd/admission/doctorat/preparation/use_case/write/initier_proposition_service.py
  infrastructure/admission/doctorat/preparation/handlers.py
  infrastructure/admission/doctorat/preparation/handlers_in_memory.py
  infrastructure/admission/doctorat/preparation/repository/groupe_de_supervision.py
  infrastructure/admission/doctorat/preparation/repository/proposition.py
  migrations/0249_promoter_unique_constraint_data_migration.py
  migrations/0250_promoter_unique_constraint_data_structure.py
  models/accounting.py
  models/doctorate.py
  models/mixins.py
  tests/api/views/test_training_choice.py
  tests/migrations/test_0196_unique_candidate_data_migration.py
Due: copyright, diff-quality

IUFC > Fix the submission tests
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  tests/api/views/test_submission.py
Due: copyright, diff-quality

[OS-1400] Checklist > internal experiences : retrieve the assimilation information
  locale/en/LC_MESSAGES/django.po
  locale/fr_BE/LC_MESSAGES/django.po
  templates/admission/general_education/includes/checklist/parcours.html
Due: copyright
